__pycache__/
*.pyc

.ipynb_checkpoints/

Dataset/*
!Dataset/README.md

models/*
!models/README.md

Embeddings/*
!Embeddings/README.md

Embeddings_Diff/*
!Embeddings_Diff/README.md

image-output/*
!image-output/README.md

*.pth
*.ckpt
*.pt

.DS_Store
